*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 2px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5); /* Transparent background color for the scrollbar thumb */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* Transparent background color for the scrollbar track */
  }

.first{
    min-height: 100vh;
    background-color: #1c9ed4;
}

.head{
    display: flex;
    justify-content: space-between;
    padding: .3rem;
    height: 10vh;
}

.logo{
    display: flex;
    align-items: center;
    padding-left: 3rem;
}

.logo p {
    font-weight: 600;
    color: #ffffff;
    font-size: larger;
}

span{
    color: #12203e;
}
.navigation{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-right: 3rem;
}

a{
    text-decoration: none;
    color: #ffffff;
}

img {
    max-width: 10%;
}

.second{
    min-height: 100vh;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
}

.main {
    font-size: 3rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 1rem;
}

.sub{
    color: #fff;
    font-weight: 200;
}

.sub span{
    font-weight: 600;
    color: #fff;
}

.logout{
    outline: none;
    border: none;
    padding: .5rem 2rem;
    border-radius: .5rem;
}

.second{
    min-height: 100vh;
    padding: 10rem;
}

.big{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.definition{
    display: flex;
    gap: 4rem;
    margin-bottom: 6rem;
}

.definition .intro {
    font-weight: 500;
    text-align: justify;
    text-justify: inter-word;
}

.definition .join {
    font-weight: 400;
    text-align: justify;
    text-justify: inter-word;
    color: #555;
}

.second span{
    color: #1c9ed4;
}

.status {
    display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.title{
    font-weight: bold;
    font-size: 1rem;
}

.number{
    font-size: 3rem;
    font-weight: 700;
}

