*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.right{
    overflow: hidden;
}

.container{
    width: 80%;
    display: flex;
    border-radius: 1rem;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
}

.left{
    width: 60%;
    background: linear-gradient(to right, #0869b9, #1c9ed4);
    border-radius: 1rem 0 0 1rem;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    padding-left: 2rem;
    position: relative;
}

.tagline{
    color: #ffffff;
    font-size: 2rem;
}

.tagline-b{
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.right{
    width: 40%;
    border-radius: 0 1rem 1rem 0;
    background-color: #eff3fc;
    padding: 1rem;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: 3rem;
}

.app-name{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login-container{
    padding: .5rem 1rem;
}

.login-container p {
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 1.5rem;
    color: #12203e;
}

form{
    display: flex;
}


label{
    font-size: small;
    color: #a9adb4;
}

.input{
    outline: none;
    border: none;
    padding: .7rem .3rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
}

.options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.save-user{
    height: max-content;
    display: flex;
    align-items: center;
    gap: .3rem;
}

a{
    font-size: small;
    text-decoration: none;
}

.login-btn{
    outline: none;
    border: none;
    border-radius: .5rem;
    background: linear-gradient(to right, #507dff, #6fa8ff);
    padding: .7rem 0;
    color: #fff;
    letter-spacing: .2rem;
}

.register-btn{
    outline: none;
    border: none;
    border-radius: .8rem; 
    background: linear-gradient(to right, #507dff, #6fa8ff);
    padding: .5rem 0;
    width: 8rem;
    color: #ffffff;
    border: 2px solid #6fa8ff;
    transition: .2s;
}

.register-btn:hover{
    border: 2px solid #6fa8ff;
    background: #eff3fc;
    color: #12203e;
}

.login-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: .5s;
}

/* .register-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 45rem;
    transition: .5s;
} */

span{
    color: #6fa8ff;
}

.fa-solid{
    padding-right: .4rem;
}

.bullet{
    color: #ffffff;
    font-size: small;
    font-weight: 200;
    margin-bottom: 1rem;
}

.vector{
    position: absolute;
    right: 0;
    bottom: 0;
}

.terms{
    height: max-content;
    display: flex;
    align-items: center;
    gap: .3rem;
    margin-bottom: 2rem;
}

